.cart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.cartItem-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.bottom-cart{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.totalizadores-container{
    display: flex;
    flex-direction: column;
    gap:1px;
    font-size: 19px;
    color: #f5f6f7;

}

.totalizadores-container p{
    font-weight: bold;
}

.noItems-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: #f5f6f7;
}

.cart-btns{
    font-style: italic;
    color: #f5f6f7;
    background-color: rgb(182, 17, 17);
    border-color: rgb(182, 17, 17) ;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    padding: 5px 30px 5px 30px;
    letter-spacing: 1px;
}


.cart-btns-disabled{
    font-style: italic;
    color: #f5f6f7;
    background-color: grey;
    border-color: grey;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    padding: 5px 30px 5px 30px;
    letter-spacing: 1px;
    cursor: not-allowed;
    pointer-events: none;
}


.cart-btn-cancel{

    font-style: italic;
    color: #f5f6f7;
    background-color: grey;
    border-color: grey;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    padding: 5px 30px 5px 30px;
    letter-spacing: 1px;

}