.item-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:  100px;
    background-color: rgb(228, 226, 226);
    height:90vh
}


.itemDetail-card{
    border: 3px solid  rgb(182, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 550px;
    border-radius: 5px;
    background-color: rgb(228, 226, 226);
    margin: 50px 0px 50px 0px;

}

.itemDetail-title h4{
    font-size: 25px;
    margin:0px 0px 20px 0px;

}

.itemDetail-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.itemDetail-description{
    padding: 20px 10px 0px 10px;
    font-size: 20px;
}

.itemDetail-price{
    font-weight: bold;
    font-size: 25px;
}

.itemDetail-img{
    width:400px;
    height: 300px;
    object-fit: cover;
}

.finishPurchase-btn{
    font-style: italic;
    color: #f5f6f7;
    background-color: rgb(182, 17, 17);
    border-color: rgb(182, 17, 17) ;
    border-radius: 7px;
    margin: 10px 10px 10px 10px;
    padding: 5px 30px 5px 30px;
    letter-spacing: 1px;

}